
@{
    ViewBag.Title = "Index";
}

<h2>To Find Even  or Odd</h2>
@model WebApplication26.Models.EvenModel

@using (Html.BeginForm("Index", "Even", FormMethod.Post))
{
      
    <b>Enter number1:</b>@Html.TextBoxFor(m => m.num, new { @value = "Enter num1", style = "color:red" })
    <br />
    <br />
    <input type="submit" value="calculate" />

}
<hr />

<b>Result:</b>@ViewBag.result;


