
@{
    ViewBag.Title = "Index";
}

<h2>To Find factorial</h2>
@model WebApplication26.Models.FactorialModel

@using (Html.BeginForm("Index", "Factorial", FormMethod.Post))
{
    <h2>Calculate Form </h2>
    <b>Enter number1:</b>@Html.TextBoxFor(m => m.num, new { @value = "Enter num1", style = "color:red" })
    <br />
    <br />
    <input type="submit" value="calculate" />

}
<hr />

<b>Factorial:</b>@ViewBag.result;
