
@{
    ViewBag.Title = "Index";
}

<h2>Index Page</h2>
@model WebApplication26.Models.UserModel

@using (Html.BeginForm("Index","Sample",FormMethod.Post))
 {
               <b>Name:</b> @Html.TextBox("Name","Enter name", new  { style="color:red"})

    <hr />
    <b>Name:</b>@Html.TextBoxFor(m => m.Name, new{  @Value="Enter name", @class="blue"})
}

<hr />
<input type="submit" value="Submit Form"/>

<style>
    .blue{
        color:cornflowerblue;
    }
</style>

<p>Your name is:@ViewBag.Name</p>