
@{
    ViewBag.Title = "Index";
}

@model WebApplication26.Models.SignupModel2

@using (Html.BeginForm("Index", "Signup2", FormMethod.Post))
{
    <h2>Signup2 Form</h2>
    <b>User name:</b>@Html.TextBoxFor(m => m.username,new { @value = "Enter username", Style = "color:red" })

    <br />
    <br />
    <b>password:</b>@Html.TextBoxFor(m=>m.password,new {@value="Enter password",sryle="color:green"})
    <br />
    <br />
    <input type="submit" value=" Signup2"/>
     <hr />

    <h3>Signup2 Form Details</h3>
    <p>User name is:</p>@ViewBag.username<br />
    <p>Password is:</p>@ViewBag.password 
}

