
@{
    ViewBag.Title = "Index";
}

@model WebApplication35.Models.CalModel

@using (Html.BeginForm("Index", "Cal", FormMethod.Post))
{
    <h2>Check which no. is greater</h2>
    <br />
    <br />
    <b>Enter number1:-</b>@Html.TextBoxFor(m=>m.num1, "", new { style = "color:blue" })
    <br />
    <br />
    <b>Enter numveer2:-</b>@Html.TextBoxFor(m=>m.num2, "", new { Style = "color:blue" })
    <br />
    <br />
    <input type="submit" value="calculate" />
}
<hr />
<br />
<b>Result:</b>@ViewBag.result

